<services>
  <service name="download_url">
    <param name="host">github.com</param>
    <param name="protocol">https</param>
    <param name="path">/accupara/crave/releases/download/${CRAVE_VER}/crave-${CRAVE_VER_NO_V}-linux-aarch64.bin</param>
    <param name="filename">crave-${CRAVE_VER_NO_V}-linux-aarch64.bin</param>
  </service>
  <service name="download_url">
    <param name="host">github.com</param>
    <param name="protocol">https</param>
    <param name="path">/accupara/crave/releases/download/${CRAVE_VER}/crave-${CRAVE_VER_NO_V}-linux-amd64.bin</param>
    <param name="filename">crave-${CRAVE_VER_NO_V}-linux-amd64.bin</param>
  </service>
</services>