# No SOURCE spec-file

#
# Crave
#

%define oname crave
%define cravedir %{buildroot}/%{oname}
%define release_tag ${CRAVE_VER}

Summary:    Crave
Name:       crave
Version:    ${CRAVE_VER_NO}
Release:    1
License:    MPL-2.0
Group:      Productivity
URL:        https://crave.io/

Source0:    crave-%{release_tag}-linux-aarch64.bin
Source1:    crave-%{release_tag}-linux-amd64.bin
Source2:    %{oname}.png

BuildRequires:  openssh
BuildRequires:  rsync
BuildRequires:  openssl
ExclusiveArch:  x86_64 aarch64

%description
Unofficial Community Build. Build any open source project in seconds

%prep
cd %_builddir
mkdir -p %{cravedir}
mv %{SOURCE0} %{cravedir}/
mv %{SOURCE1} %{cravedir}/

%build
#nobuild

%install
if [ "$(uname -m)" = "x86_64" ]; then
    install -D %{cravedir}/crave-%{release_tag}-linux-amd64.bin %{buildroot}%{_bindir}/crave
elif [ "$(uname -m)" = "aarch64" ]; then
    install -D %{cravedir}/crave-%{release_tag}-linux-aarch64.bin %{buildroot}%{_bindir}/crave
fi

%post

%postun

%clean

%files
%defattr(-,root,root)
%{_bindir}/*
%dir %{cravedir}
%{cravedir}/crave-%{release_tag}-linux-aarch64.bin
%{cravedir}/crave-%{release_tag}-linux-amd64.bin

Requires: openssh, rsync, openssl

%changelog