# No SOURCE spec-file

#
# Crave
#

%define oname crave
%define cravedir %{_libdir}/%{oname}

Summary:    Crave
Name:       crave
Version:    %{CRAVE_VER_NO_V}
Release:    1
License:    MPL-2.0
Group:      Productivity
URL:        https://crave.io/

Source0:    crave-%{version}-linux-aarch64.bin
Source1:    crave-%{version}-linux-amd64.bin
Source2:    %{oname}.png

BuildRequires:  openssh
BuildRequires:  rsync
BuildRequires:  openssl
ExclusiveArch:  x86_64 aarch64

%description
Unofficial Community Build. Build any open source project in secondszzzzz

%prep
cd %_builddir
mkdir -p aarch64 amd64
mv %{SOURCE0} %{_builddir}/aarch64
mv %{SOURCE1} %{_builddir}/amd64

%build
#nobuild

%install
if [ "$(uname -m)" = "x86_64" ]; then
    mv %{SOURCE0} %{_bindir}/crave
elif [ "$(uname -m)" = "aarch64" ]; then
    mv %{SOURCE1} %{_bindir}/crave
fi

%post

%postun

%clean

%files
%defattr(-,root,root)
%{_bindir}/*
%dir %{_libdir}/%{oname}
%{_libdir}/%{oname}/aarch64
%{_libdir}/%{oname}/amd64

Requires: openssh, rsync, openssl

# Debian packaging
%package -n crave-aarch64
Summary:    Crave (aarch64)
Architecture: aarch64
Depends:     openssh, rsync, openssl

%package -n crave-amd64
Summary:    Crave (amd64)
Architecture: x86_64
Depends:     openssh, rsync, openssl

%changelog
* Sun Jul 14 2024 tex - 0.2-7004-1pclos2024
- new version

